<div class="container">
    <form name="changePasswordForm">
        <h3 class="display-4" style="margin-top: 150px">Change Password</h3>
        <div class="form-group mt-4" style="width: 75%">
            <label for="oldPassword">* Old password:</label>
            <input class="form-control" ng-model="changePasswordModel.oldPassword" name="password" type="password" placeholder="Enter your old password..." required />
        </div>
        <div class="form-group mt-4" style="width: 75%">
            <label for="password">* New password:</label>
            <input class="form-control" ng-model="changePasswordModel.newPassword" name="password" type="password" placeholder="Enter your new password..." required />
        </div>
        <div class="form-group mt-4" style="width: 75%">
            <label for="confirmPassword">* Confirm new password:</label>
            <input class="form-control" ng-model="changePasswordModel.confirmPassword" name="birthDate" type="password" placeholder="Confirm your new password..." required />
        </div>
        <div ng-show="!passwordCheck()" class="alert alert-danger small mt-3" style="width:30%; position: absolute" role="alert">
            Passwords do not match!
        </div>
        <div ng-show="passwordCheck() && changePasswordModel.newPassword && changePasswordModel.confirmPassword" class="alert alert-success small mt-3" style="width: 30%; position: absolute" role="alert">
            Passwords do match!
        </div>
        <div class="button-group" style="margin-top: 125px" role="group" aria-label="Change Password Controls">
            <button class="btn btn-outline-success" ng-disabled="changePasswordForm.$invalid || !passwordCheck()" ng-click="changePassword()" type="submit" role="button"> Save </button>
            <button class="btn btn-outline-danger" ng-click="back()" type="button" role="button"> Cancel </button>
            <small class="ml-5"> * - Mandatory fields</small>
        </div>
        <div ng-show="errors.length > 0" class="alert alert-danger fade show mt-3" style="width: 30%; position: absolute" role="alert">
            <p class="lead small" ng-repeat="error in errors">{{error}}</p>
            <button type="button" class="close" ng-click="errors = []" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </form>
</div>